@import "../Variables";

%header_white_background_with_bottom_border {
  border-bottom: 1px solid $header_border_color;
  background: white;
}

%header_link_bars {
  height: $header_child_container_size;
  padding-left: 20px;
}

%header_link_inline {
  display: inline-block;
  padding-top: 3px;
  width: 6%;
}
