@mixin form_input_box($name, $border-color) {
  .input_#{$name} {
    border: 1px solid $border-color;
    padding: 10px;
    color: #333;
    width: 50%;
  }
}

@include form_input_box("box", #ccc);
@include form_input_box("warning", yellow);
@include form_input_box("error", red);
@include form_input_box("success", green);
